body{
    display: flex;
    justify-content: center;
    background-color: rgb(176, 127, 255);
    height: 100vh;
    transform: translateY(15%);
}
.container{
    background-color: azure;
    border: black solid 1px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title{
        font-size: 20px;
        font-weight: bold;
    }
}
input{
    margin: 10px;
    width: 160px;
}
button{
    margin: 10px;
    height: 30px;
    border: black solid 1px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: grey;
}
#result{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}